* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

.navegacao {
    display: none;
}

.navegacao.show {
    display: block;
}

.navegacao ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navegacao a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navegacao li.atual {
    background-color: #eee;
}

.navegacao a:hover {
    background-color: #E07A5F;
}

h1 {
    margin-left: 10px;
}

footer {
    background-color: #eee;
    padding: 20px 10px;
    text-align: center;
    margin-top: 20px;
}

footer .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 15px;
}

footer .redes-sociais img {
    display: block;
    width: 30px;
    height: auto;
}