@media (min-width: 768px) {
    #menu-hamburguer {
        display: none;
    }

    nav {
        display: block !important;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav a {
        border-bottom: none;
        padding: 1rem 2rem;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    .grid-cursos {
        grid-template-columns: repeat(3, 1fr);
    }
}